/* bag-header */
.bag-header {
    padding: 4rem 0;
}
.bag-header h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 1.2rem;
}

.bag-header .sub-heading {
    font-size: 1.72rem;
    line-height: 1.47059;
    letter-spacing: -0.022em;
}

.bag-header .installment-banner {
    margin-top: 4.8rem;
    background-color: #f5f5f7;
    padding: 2rem;
    border-radius: 12px;
}

.bag-header .installment-banner-wrapper {
    width: 75%;
    display: flex;
}

.bag-header .installment-banner-wrapper img {
    width: 2rem;
    height: 2rem;
}
.bag-header .installment-banner-wrapper p {
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: -0.016em;
    margin-left: 0.6rem;
}

.bag-header .installment-banner-wrapper a {
    color: var(--color-link);
}

/* bag-product */
.bag-product h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
}

.bag-product p {
    font-size: 14px;
    line-height: 1.42859;
    letter-spacing: -0.016em;
}

.col-name-quantity {
    display: flex;
}

/* bag-product-img */
.bag-product-img img {
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;

    object-fit: contain;
}

/* bag-product-name */

.bag-product-name .product-name {
    width: 70%;
}

/* quantity */
.bag-product-quantity {
    width: 20%;
    font-size: 2.3rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    height: 2.4rem;
    width: 4rem;
    margin-left: auto;
}

/* .bag-product-price */
.bag-product-price .btn-clear {
    color: var(--color-link);
    font-size: 1.4rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.bag-product-price .btn-clear:hover {
    text-decoration: underline;
}

/* bag-product-pickup */
.bag-product-pickup {
    border-top: 1px solid var(--color-border-white);
    padding: 2.4rem 0;
    margin-top: 2.4rem;
}

.bag-product-pickup h4 {
    font-size: 1.5rem;
    line-height: 1.47059;
    font-weight: 500;
    letter-spacing: -0.022em;
}

.bag-product-desc .bag-product-pickup-desc {
    display: flex;
    align-items: center;
}

/* bag-total */
.bag-total .grid.wide {
    border-top: 1px solid var(--color-border-white);
}

.bag-total h3 {
    font-size: 2.4rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
}

.bag-total-summary {
    margin: 4rem 0 3rem auto;
    border-bottom: 1px solid var(--color-border-white);
    width: 75%;
    padding-bottom: 3rem;
}

.bag-total-summary p {
    font-size: 1.6rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}

.bag-total-summary a {
    color: var(--color-link);
}

.bag-total-price .row:last-child {
    width: 77%;
    margin-left: auto;
}

.bag-total-price .bag-total-price-card {
    display: block;
    font-size: 1.3rem;
    color: var(--color-link);
    margin: 1.2rem 0;
}
.bag-total-price .btn {
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1.2rem 5.2rem;
    border-radius: 1rem;
}

/* bag-product-spotlight  */
.bag-product-spotlight {
    margin-top: 16rem;
}

.bag-product-spotlight-wrapper {
    background-image: url(../img/Bag/apple-new-arrivals-checkout.jpg);
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bag-product-spotlight-desc {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bag-product-spotlight-desc h2 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
}

.bag-product-spotlight-desc p {
    font-size: 1.6rem;
    margin: 1.4rem 0 0.8rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}
.bag-product-spotlight-desc a {
    font-size: 1.5rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    color: var(--color-link);
    text-decoration: none;
}
.bag-product-spotlight-desc a:hover {
    text-decoration: underline;
}

.bag-product-spotlight-desc i {
    color: var(--color-link);
    font-size: 1.2rem;
}
