/* ! bag-header */
.bag-header {
    padding: 4rem 0;
}
.bag-header h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 1.2rem;
}

.bag-header .sub-heading {
    font-size: 1.72rem;
    line-height: 1.47059;
    letter-spacing: -0.022em;
}

.bag-header .installment-banner {
    margin-top: 4.8rem;
    background-color: #f5f5f7;
    padding: 2rem;
    border-radius: 12px;
}

.bag-header .installment-banner-wrapper {
    width: 75%;
    display: flex;
}

.bag-header .installment-banner-wrapper img {
    width: 2rem;
    height: 2rem;
}
.bag-header .installment-banner-wrapper p {
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: -0.016em;
    margin-left: 0.6rem;
}

.bag-header .installment-banner-wrapper a {
    color: var(--color-link);
}

/* ! bag-product */
#bagContainer {
}
.item-bag {
    padding: 7rem 0;
    border-bottom: 1px solid rgb(210, 210, 215);
}

.item-bag-img {
    width: 70%;
}

/* item-bag-info */
.item-bag-info {
    display: flex;
    justify-content: space-between;
}

.item-bag-info h3 {
    font-size: 2.6rem;
    font-weight: 600;
}
.item-bag-info .item-bag-info-name {
    word-wrap: break-word;
    width: 69%;
}

.item-bag-info-link {
    color: var(--color-text-black);
    text-decoration: none;
}
.item-bag-info-link:hover {
    color: var(--color-link);
}

.item-bag-info .quantity {
    display: flex;
}
.item-bag-info .quantity .quantity-up-and-down {
    flex-direction: column;
    display: flex;
    margin-left: 0.8rem;
}
.item-bag-info .quantity .quantity-up-and-down i {
    color: var(--color-link);
    font-size: 1.4rem;
    cursor: pointer;
}

/* item-bag-detail */
.item-bag-detail {
}
.item-bag-detail .item-bag-detail-price,
.item-bag-detail .item-bag-detail-summary {
    display: flex;
    justify-content: space-between;
    margin: 1.8rem 0;
    font-size: 1.4rem;
    line-height: 1.42859;
    letter-spacing: -0.016em;
}

.item-bag-detail .item-bag-detail-summary a {
    color: var(--color-link);
    text-decoration: none;
}

.item-bag-detail .item-bag-detail-summary a:hover,
.item-bag-pickupTruck h4 a:hover {
    text-decoration: underline;
}

.item-bag-detail .item-bag-detail-summary {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(210, 210, 215);
}

/*  item-bag-pickupTruck */
.item-bag-pickupTruck h4 {
    font-size: 1.6rem;
    line-height: 1.47059;
    font-weight: 600;
}
.item-bag-pickupTruck h4 a {
    color: var(--color-link);
    text-decoration: none;
    font-weight: 400;
}
.item-bag-pickupTruck h4 i {
    font-size: 1.4rem;
}

.item-bag-pickupTruck-list {
    margin-top: 1rem;
}

.item-bag-pickupTruck-item {
    display: inline-flex;
    margin-right: 3rem;
    font-size: 1.3rem;
}
/* ! bag-total */

.bag-total h3 {
    font-size: 2.4rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
}

.bag-total-summary {
    margin: 4rem 0 3rem auto;
    border-bottom: 1px solid var(--color-border-white);
    width: 75%;
    padding-bottom: 3rem;
}

.bag-total-summary p {
    font-size: 1.6rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}

.bag-total-summary a {
    color: var(--color-link);
}

.bag-total-price .row:last-child {
    width: 77%;
    margin-left: auto;
}

.bag-total-price .bag-total-price-card {
    display: block;
    font-size: 1.3rem;
    color: var(--color-link);
    margin: 1.2rem 0;
}
.bag-total-price .btn {
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1.2rem 5.2rem;
    border-radius: 1rem;
}

/* bag-product-spotlight  */
.bag-product-spotlight {
    margin-top: 16rem;
}

.bag-product-spotlight-wrapper {
    background-image: url(../img/Bag/apple-new-arrivals-checkout.jpg);
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bag-product-spotlight-desc {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bag-product-spotlight-desc h2 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
}

.bag-product-spotlight-desc p {
    font-size: 1.6rem;
    margin: 1.4rem 0 0.8rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}
.bag-product-spotlight-desc a {
    font-size: 1.5rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    color: var(--color-link);
    text-decoration: none;
}
.bag-product-spotlight-desc a:hover {
    text-decoration: underline;
}

.bag-product-spotlight-desc i {
    color: var(--color-link);
    font-size: 1.2rem;
}

/* bag-empty */
.bag-empty {
    background-color: rgb(254, 254, 253);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-top: 2rem;
}

.bag-empty-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.bag-empty-info {
    padding: 4.8rem;
}
.bag-empty-info h3 {
    font-size: 2rem;
    line-height: 1.37059;
    letter-spacing: -0.022em;
}
.bag-empty-info .btn {
    text-decoration: none;
    margin-top: 2rem;
    padding: 0 2rem;
}
