:root {
    --color-link: #06c;
    --color-text-black: #1d1d1f;
    --color-text-white: #f5f5f7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

main {
    padding-top: 5.2rem;
}

/* btn */
.btn {
    background: #0071e3;
    color: #fff;
    min-width: 6rem;
    padding: 0 0.8rem;
    min-height: 3.4rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    line-height: 1.17648;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* common */
.cta-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-links a {
    display: inline-block;
    font-size: 2rem;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011em;
    margin: 1rem 2rem;
    text-decoration: none;
    color: var(--color-link);
}
.cta-links i {
    font-size: 1.75rem;
}
.cta-links a:hover {
    text-decoration: underline;
}

.black-theme {
    background-color: black;
    color: var(--color-text-white);
}

.white-theme {
    background-color: white;
    color: var(--color-text-black);
}

/*================ Header ================ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(67, 67, 68);
    z-index: 100;
}
.header nav {
    display: flex;
    justify-content: space-between;
}

.header .nav-list {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
}

.header .nav-item {
    margin: 0 1.4rem;
}
.header .nav-item:first-child {
    margin-left: 0;
}
.header .nav-item:last-child {
    margin-right: 0;
}

.header .nav-item a img {
    height: 2rem;
    width: 2rem;
}

.header .nav-item a:hover {
    opacity: 1;
}

.header .nav-item a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.193rem;
}

/* Footer */

.footer {
    background-color: rgb(245, 245, 247);
    padding: 1rem 0 1.2rem;
    color: #6e6e73;
    font-size: 1rem;
    line-height: 1.3;
    font-size: 1.2rem;
    margin-top: 20rem;
}

.footer .grid.wide {
    max-width: 112rem;
}

.footer .policy {
    padding-bottom: 3rem;
    border-bottom: 1px solid #d2d2d7;
}

.footer .policy p {
    margin-top: 1.2rem;
}
.footer .policy a {
    color: #06c;
}

.footer .directory {
    padding: 0.5rem 0 1rem;
    border-bottom: 1px solid #d2d2d7;
    font-size: 1.3rem;
}

.footer .directory ul {
    margin-top: 2rem;
}

.footer .directory li {
    margin-top: 1.2rem;
}

.footer .directory a {
    color: #424245;
    text-decoration: none;
}
.footer .directory a:hover {
    text-decoration: underline;
}

.footer .directory .title {
    color: var(--color-text-black);
    font-weight: 600;
}

.footer .call {
    margin-top: 3.2rem;
}

.footer .call a {
    color: var(--color-link);
    text-decoration: underline;
}

.copyright {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
