:root {
    --color-link: #06c;
    --color-text-black: #1d1d1f;
    --color-text-white: #f5f5f7;
    --color-border-white: #d2d2d7;
    --box-shadow-product: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --box-shadow-product-show: rgb(0 0 0 / 10%) 0px 4px 12px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    color: var(--color-text-black);
}

main {
    padding-top: 3.8rem;
}

/* btn */
.btn {
    background: #0071e3;
    color: #fff;
    min-width: 6rem;
    padding: 0 0.8rem;
    min-height: 3.4rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    line-height: 1.17648;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.add-to-bag {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.4rem;
    font-size: 1.6rem;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
    text-decoration: none;
    border-radius: 0.8rem;
}

/* common */

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.img-block-center {
    display: block;
    margin: 0 auto;
}
.cta-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-links a {
    display: inline-block;
    font-size: 1.9rem;
    line-height: 1.381;
    letter-spacing: -0.08rem;
    margin: 1rem 2rem;
    text-decoration: none;
    color: var(--color-link);
    font-weight: 400;
}
.cta-links i {
    font-size: 1.5rem;
}
.cta-links a:hover {
    text-decoration: underline;
}

.black-theme {
    background-color: black;
    color: var(--color-text-white);
}

.white-theme {
    background-color: white;
    color: var(--color-text-black);
}

.f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-gradient {
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/*================ Header ================ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(67, 67, 68);
    z-index: 100;
}
.header nav {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
}

.header .nav-list {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
}

.header .nav-item {
    margin: 0 1.4rem;
    font-weight: 100;
}
.header .nav-item:first-child {
    margin-left: 0;
}
.header .nav-item:last-child {
    margin-right: 0;
}

.header .nav-item a img {
    height: 2rem;
    width: 2rem;
}

.header .nav-item a:hover {
    opacity: 1;
}

.header .nav-item a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.193rem;
}

/* Choose model, choose storage */

.btn-choose label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1.8px solid var(--color-border-white);
    padding: 1.4rem;
    border-radius: 1.2rem;
    margin: 1.4rem 0;
    cursor: pointer;
    min-height: 8rem;
}

.btn-choose input:checked ~ label {
    border-color: #0071e3;
    box-shadow: 0 0 0rem 0.15rem #66b1fc;
}

.btn-choose h3 {
    font-size: 1.5rem;
    line-height: 1.23536;
    font-weight: 500;
    letter-spacing: -0.022em;
    margin-bottom: 0.8rem;
}
.choose_model-item .model_price,
.choose_storage-item .storage_price {
    text-align: right;
    line-height: 1.33337;
    letter-spacing: -0.01em;
}

.btn-pagination {
    border: none;
    width: 4.8rem;
    margin: 0 2rem;
    height: 4.8rem;
    border-radius: 100rem;
    font-size: 2.6rem;
    padding: 1.4rem;
    background-color: rgba(210, 210, 215, 0.64);
    color: rgba(0, 0, 0, 0.56);
    cursor: pointer;
}

.btn-pagination:hover {
    background-color: rgba(210, 210, 215, 0.54);
    color: rgba(0, 0, 0, 0.66);
}

/*   Ribbon  */
.ribbon-discount {
    background-color: var(--color-text-white);
    color: var(--color-text-black);
    text-align: center;
    font-size: 1.4rem;
    padding: 1.2rem 0;
}

/* dots pagination */
.dots-pagination {
    display: flex;
    justify-content: center;
}

.dot-pagination {
    background-color: #cececf;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100rem;
    margin: 0 0.5rem;
}
.dot-pagination.active {
    background-color: #6c6c6d;
}

/* Choose color */
.choose_color {
    display: flex;
    margin: 1.4rem 0;
}

.btn-choose-color img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100rem;
    object-fit: cover;
}
.btn-choose-color label {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100rem;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.1rem 0.4rem;
    border: 1.6px solid transparent;
}
.btn-choose-color input:checked ~ label {
    border-color: #0071e3;
}

/* Footer */

.footer {
    background-color: #f5f5f7;
    padding: 1rem 0 1.2rem;
    color: #6e6e73;
    font-size: 1rem;
    line-height: 1.3;
    font-size: 1.2rem;
    margin-top: 4rem;
}

.footer .policy {
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--color-border-white);
}

.footer .policy p {
    margin-top: 1.2rem;
}
.footer .policy a {
    color: #06c;
}

.footer .directory {
    padding: 0.5rem 0 1rem;
    border-bottom: 1px solid var(--color-border-white);
    font-size: 1.3rem;
}

.footer .directory ul {
    margin-top: 2rem;
}

.footer .directory li {
    margin-top: 1.2rem;
}

.footer .directory a {
    color: #424245;
    text-decoration: none;
}
.footer .directory a:hover {
    text-decoration: underline;
}

.footer .directory .footer-title {
    color: var(--color-text-black);
    font-weight: 600;
}

.footer .call {
    margin-top: 3.2rem;
}

.footer .call a {
    color: var(--color-link);
    text-decoration: underline;
}

.copyright {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* ============ JS ============  */
.slider-wrapper-js {
    /* width: 100%; */
    overflow: hidden;
    box-shadow: var(--box-shadow-product);
    border-radius: 12px;
}
.slider-main-js {
    display: flex;
    transition: all 0.4s ease-in-out;
    width: 100%;
}
.slider-item-js {
    flex: 1 0 100%;
    border-radius: 12px;
}

.dots .dot {
    cursor: pointer;
}
