*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/*================ Hero ================ */

.hero-item {
    position: relative;
    height: 100vh;
    color: white;
    background-color: black;
}
.hero-item:nth-child(2) {
    color: black;
    background: #fbfbfd;
}
.hero-item .desc {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.hero-item .desc h2 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -0.005em;
    width: 80rem;
}
.hero-item .desc h3 {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: 0.004em;
    margin-top: 0.8rem;
    width: 50rem;
}

.hero-item img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    position: absolute;
    bottom: 0;

    display: block;
}
.hero-item:nth-child(2) img {
    padding-bottom: 2rem;
}
/*================ Promo ================ */

.promo .row {
    margin: 1.2rem 0 0;
    padding: 0;
    flex-wrap: nowrap;
}
.promo .col {
    padding: 0 0rem;
}

.prom-desc {
    text-align: center;
    padding: 4.8rem 0;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
}

.prom-desc h4 {
    font-size: 4rem;
}

.prom-desc h5 {
    margin-top: 0.8rem;
    font-size: 2.1rem;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: 0.016em;
}

.col-bgi {
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-position: center;
    height: 58rem;
    border-radius: 1.8rem;
    max-width: 49.2%;
    margin: 0 0.6rem;
    padding: 100px;
}

.col-bgi:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*================ Movie ================ */
