/*.banner-advertising  */
.banner-advertising {
    max-width: 98rem;
    margin: 1.6rem auto 0;
}
.banner-advertising {
    background-color: var(--color-text-white);
    padding: 1.4rem 2.4rem;
    border-radius: 1.2rem;
}
.banner-advertising-item .banner-advertising_title {
    font-size: 1.28rem;
    line-height: 1.28577;
    font-weight: 500;
    letter-spacing: -0.016em;
}

.banner-advertising-item .banner-advertising__link {
    text-decoration: none;
    color: var(--color-link);
    font-size: 1.28rem;
}

.banner-advertising__link:hover {
    text-decoration: underline;
}

.banner-advertising-item p {
    margin-left: 1.1rem;
    font-size: 1.1rem;
    line-height: 1.33337;
    letter-spacing: -0.01em;
}

/* Product */
.product {
    margin: 6rem 0;
}

/* product__heading */
.product__heading span {
    color: #bf4800;
    font-size: 1.7rem;
    line-height: 1.47059;
    letter-spacing: -0.022em;
    margin-bottom: 1.4rem;
}

.product__heading h1 {
    color: var(--color-text-black);
    font-size: 4.8rem;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    padding-bottom: 0.8rem;
}

.product__heading p {
    font-size: 1.28rem;
    line-height: 1.42859;
    letter-spacing: -0.016em;
}

.product__heading .col.l-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product__heading .btn {
    text-decoration: none;
    margin-bottom: 1.1rem;
    font-size: 1.18rem;
    line-height: 1.33337;
    letter-spacing: -0.01em;
    color: var(--color-text-black);
    padding: 0 1.2rem;
    background-color: var(--color-text-white);
}

/* product__desc */
.product__desc {
    margin-top: 6rem;
}

/* left  */
.product__desc .product_desc-galery {
    position: relative;
}
.product__desc .galery {
    width: 100%;
    border-radius: 1.6rem;
    box-shadow: var(--box-shadow-product);
}

.product__desc .pagination {
    position: absolute;
    top: 50%;
    width: calc(100% - 2.4rem);
    transform: translateY(-50%);
    left: 1.2rem;
    right: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.product__desc .dots {
    position: absolute;
    bottom: 1.4rem;
    left: 1.2rem;
    right: 1.2rem;
    height: 10px;
    width: calc(100% - 2.4rem);

    display: flex;
    justify-content: center;
}

.product__desc .dot {
    background-color: #cececf;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100rem;
    margin: 0 0.5rem;
}
.product__desc .dot.active {
    background-color: #6c6c6d;
}

/* right */
.product__desc .col.l-4 {
    padding-left: 3.8rem;
}

.product__desc h2 {
    font-size: 2.2rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    color: #86868b;
}

.product__desc input {
    display: none;
}

.product__desc strong {
    color: var(--color-text-black);
}

/* product_desc__banner */
.product_desc__banner {
    margin-top: 5rem;
}

.product_desc__banner label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_desc__deal {
    padding: 1.4rem;
    background-color: #f5f5f7;
    border-radius: 1.2rem;
    text-align: center;
    font-size: 14px;
    line-height: 1.42859;
    color: var(--color-text-black);
    letter-spacing: -0.016em;
}

.product_desc__deal img {
    margin: 0 0.6rem;
}

/* product_show */
.product_show {
    text-align: center;
}

.product_show h2,
.product_different h2 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
}

.product_show .product_show-imgs {
    background-color: #fbfbfd;
    margin: 4rem 0 2.6rem;
    border-radius: 1.2rem;
    box-shadow: var(--box-shadow-product-show);
}

.product_show-imgs img {
    display: inline-block;
    margin: 0 6.8rem;
}

.product_show .desc {
    font-size: 1.3rem;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
}

.product_show .desc .col:first-child p {
    text-align: right;
    margin-right: 6.5rem;
}
.product_show .desc .col:last-child p {
    text-align: left;
    margin-left: 6.8rem;
}

.product_show-buy-flow {
    font-size: 1.26rem;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
}
.product_show-buy-flow strong {
    font-weight: 600;
    color: #3e3e3e;
}
.product_show-buy-flow p {
    margin: 1.2rem 0;
}

.product_show-buy-flow a {
    color: var(--color-link);
}

/* product_different */
.product_different {
    text-align: center;
    margin-top: 8rem;
}

.product_different .product_different-col-small {
    max-width: 20rem;
    margin: 0 auto;
}

.product_type-wrap {
    border-bottom: 1px solid var(--color-border-white);
    padding: 2.8rem 0;
}
.product_type-desc {
    border-bottom: 1px solid var(--color-border-white);
}

.product_different a {
    text-decoration: none;
    color: var(--color-text-black);
}
.product_different .dots {
    margin: 2.2rem 0;
}

.product_different a:hover {
    color: var(--color-link);
}

.product_different h3 {
    font-size: 2.4rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    margin-bottom: 1.2rem;
}
.product_different h4 {
    font-size: 2rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    margin-bottom: 1.2rem;
}
.product_different p,
.product_different strong {
    font-size: 1.4rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}

.product_type-desc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.2rem 0;
}

.product_type-desc-item strong {
    font-weight: 500;
}

.product_type-desc-item p {
    color: #86868b;
}
.product_type-desc-item-size {
    min-height: 16rem;
}
.product_type-desc-item-Screen,
.product_type-desc-item-SoS {
    min-height: 16.2rem;
}

.product_type-desc-item-camera {
    min-height: 2.28rem;
}
.product_type-desc-item-battery {
    min-height: 12.8rem;
}

.product_type-desc-item-chip {
    min-width: 15.5rem;
}

.product_type-desc-item-FaceID,
.product_type-desc-item-5G {
    min-height: 10.8rem;
}
