.product {
    padding: 8rem 0;
}

.product .col.l-5 {
    padding-left: 6rem;
}

.product-img {
    position: relative;
    box-shadow: var(--box-shadow-product);
    border-radius: 2rem;
    padding: 2.4rem;
}

.pagination {
    position: absolute;
    top: 50%;
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}
.product h1 {
    font-size: 3.2rem;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
    margin: 1.2rem 0;
}
.product h2 {
    font-size: 2.1rem;
    line-height: 1.381;
    font-weight: 500;
    letter-spacing: 0.011em;
}
.product h3 {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.021em;
}

.product h4 {
    font-size: 1.4rem;
    line-height: 1.42859;
    letter-spacing: -0.016em;
    font-weight: 500;
}

.product p {
    font-size: 1.3rem;
    line-height: 1.42859;
    letter-spacing: -0.016em;
}

.product-img img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.product input {
    display: none;
}

.dots-pagination {
    bottom: 1.2rem;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
}
.product-support {
    margin-top: 2.4rem;
}

.product-support .product-support-imgs {
    display: flex;
}
.product-support-imgs img {
    height: 3.4rem;
    margin-right: 2rem;
}

.product-content p {
    margin-top: 1.2rem;
}

.product_choose-color,
.product_choose-size,
.product_choose-connectivity {
    margin-top: 3rem;
}
/* buy trip */
.product .buy-trip {
    margin-top: 2.4rem;
    background-color: #fff;
    padding: 0 8rem;
}

.product .buy-trip .row {
    border-bottom: 1px solid var(--color-border-white);
    padding-bottom: 2.4rem;
}

.product .buy-trip img {
    width: 3rem;
    height: 3rem;
}

.product .buy-trip h3 {
    font-size: 1rem;
    line-height: 1.33337;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin: 0.8rem 0;
}

/* feedback */
.feedback {
    margin-top: 1.2rem;
}
.feedback-content {
    margin-left: 1rem;
}
.feedback h3 {
    font-size: 1.2rem;
    line-height: 1.33337;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-bottom: 0.4rem;
}

.feedback a {
    color: var(--color-link);
}

/* product-show */
.product-show {
    padding: 4rem 0;
    text-align: center;
}

.product-show h2,
.product_different h2 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 4rem;
}
.product-show-imgs {
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    padding: 0 8rem;
    box-shadow: var(--box-shadow-product-show);
    border-radius: 1.2rem;
}

.product-show-desc {
    font-size: 1.3rem;
    line-height: 1.42859;
    letter-spacing: -0.016em;
    margin: 2.4rem;
}

.product-show img {
    height: 339px;
}

.product-show a {
    color: var(--color-link);
}
.environmental {
    margin-top: 4.4rem;
    color: #6e6e73;
    font-size: 1.3rem;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
}

/* product_different */
.product_different {
    text-align: center;
    margin-top: 8rem;
}

.product_different .product_different-col-small {
    max-width: 20rem;
    margin: 0 auto;
}

.product_type-wrap {
    border-bottom: 1px solid var(--color-border-white);
    padding: 2.8rem 0;
}
.product_type-desc {
    border-bottom: 1px solid var(--color-border-white);
}
.product_different a {
    text-decoration: none;
    color: var(--color-text-black);
}
.product_different .dots {
    margin: 2.2rem 0;
}

.product_different a:hover {
    color: var(--color-link);
}

.product_different h3 {
    font-size: 2.4rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    margin-bottom: 1.2rem;
}
.product_different h4 {
    font-size: 2rem;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    margin-bottom: 1.2rem;
}
.product_different p,
.product_different strong {
    font-size: 1.4rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}

.product_type-desc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.2rem 0;
}

.product_type-desc-item strong {
    font-weight: 500;
}

.product_type-desc-item p {
    color: #86868b;
}
.product_type-desc-item-Screen {
    min-height: 16.2rem;
}

.product_type-desc-item-SoS,
.product_type-desc-item-size {
    min-height: 26.5rem;
}

.product_type-desc-item-Oxygen {
    min-height: 24.5rem;
}
.product_type-desc-item-Temperature {
    min-height: 21rem;
}

.product_type-desc-item-celular {
    min-height: 10.8rem;
}

/* fitness */
.fitness {
    margin-top: 8rem;
    background-color: #f2f2f2;
    padding: 10rem 0;
}
.fitness .row,
.fitness .col {
    margin: 0;
    padding: 0;
}

.fitness-content {
    flex-direction: column;
}

.fitness h2 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin: 1.8rem 0 1.4rem;
}

.fitness a {
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1.47059;
    letter-spacing: -0.022em;
    color: var(--color-link);
}
.fitness a:hover {
    text-decoration: underline;
}
.fitness-img {
    width: 100%;
    height: 28.6rem;
    background-image: url(../img/watch-buy-flow-fitness-plus-202209.jpg);
    background-repeat: no-repeat;
}
