/* product  */
.product .product-img {
    width: 100%;
    margin-top: 8rem;
}

.product-list-imgs {
    display: flex;
    width: 37rem;
    margin: 0 auto;
    justify-content: center;
}

.product-item-img {
    width: 5rem;
    padding-bottom: 0.6rem;
    margin: 0 0.6rem;
    cursor: pointer;
}
.product-item-img:hover {
    border-bottom: 1px solid #b8b8b8;
}

.product-item-img.active {
    border-bottom: 2px solid #b8b8b8;
}

.product-item-img img {
    width: 100%;
}

.buy-trip {
    background-color: #fff;
    margin-bottom: 1.6rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--color-border-white);
}

.product-content {
    margin-top: 6rem;
}

.product-content h1 {
    font-size: 4.2rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0 0 3rem 0;
}

.product-content p,
.buy-trip__item p {
    font-size: 1.5rem;
    line-height: 1.47059;
    letter-spacing: -0.022em;
}

.product-content a {
    color: var(--color-link);
    text-decoration: none;
}

.product-content a:hover {
    text-decoration: underline;
}

.product-title-new {
    color: #bf4800;
    font-size: 1.7rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
}

/* buy-trip__item */
.buy-trip__item {
    display: flex;
    margin-top: 0.6rem;
}

.buy-trip__item p {
    margin-left: 1rem;
    font-size: 1.3rem;
    line-height: 1.4;
}

/* summary */
.summary {
    width: 80%;
    padding: 3rem;
    border-radius: 1.2rem;
    background-color: #fafafa;
}

.summary .price h2 {
    font-size: 3.2rem;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
}

.summary .price {
    padding-bottom: 1.4rem;
    border-bottom: 1px solid var(--color-border-white);
    margin-bottom: 1.4rem;
}

.transport {
    margin: 2.4rem 0 3rem 0;
}

.transport-desc {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.42859;

    letter-spacing: -0.016em;
    margin: 1.4rem 0 0 0;
}
.transport-desc strong {
    color: #000;
    font-weight: 500;
}

.transport-desc a {
    text-decoration: none;
    color: var(--color-link);
}
.transport-desc a:hover {
    text-decoration: underline;
}

.transport-desc p {
    margin-left: 1.1rem;
}
/* banner */
.banner {
    margin: 12rem 0;
}

.banner-wrapper {
    background-color: #f5f5f7;
    text-align: center;
    padding-top: 5.6rem;
}

.banner-wrapper p {
    font-size: 1.8rem;
    line-height: 1.381;
    letter-spacing: 0.011em;
}

.banner-desc {
    position: relative;
}

.banner-hero-img {
    width: 100%;
    margin-top: -14rem;
}

.product_different h2,
.banner-wrapper h2 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 4rem;
}

.banner-wrapper h2 {
    margin-bottom: 2.2rem;
}

/* product_different */
.product_different {
    text-align: center;
}

.product_type-wrap {
    margin: 2.4rem 0 4rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--color-border-white);
}

.product_type-wrap-airpod-max .product_type-wrap-airpod-max-hero {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.product_type {
    text-decoration: none;
    color: black;
}
.product_type:hover {
    color: var(--color-link);
}

.product_type-sub-title,
.product_type-desc p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.016em;
}

.product_type h3 {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;

    margin: 2rem 0 1.2rem 0;
}

.dots img {
    margin-top: 2rem;
}

.product_type-desc-item {
    margin-top: 4rem;
}

.product_type-desc-item-Spatial,
.product_type-desc-item-Active-Noise {
    min-height: 12.2rem;
}
.product_type-desc-item-water {
    min-height: 10rem;
}

.product_type-desc-item h4 {
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

/* apple-music */
.apple-music {
    background-color: #f5f5f7;
    margin-top: 12rem;
    padding-top: 4rem;
}

.apple-music-wrapper {
    overflow: hidden;
}

.apple-music-hero {
    height: 48rem;
}

.apple-music-desc h2 {
    font-size: 4.8rem;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    margin: 2rem 0 2.7rem 0;
}

.apple-music-link,
.apple-music-link a {
    color: var(--color-link);
    text-decoration: none;
    font-size: 1.9rem;
    line-height: 1.381;
    letter-spacing: 0.011em;
}

.apple-music-link i {
    font-size: 1.5rem;
}

.apple-music-link a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 2rem;
}
