/* Cta Apply */

.cta {
    padding: 8rem 0 4rem;
    border-bottom: 1px solid var(--color-border-white);
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.cta .title {
    font-size: 3.7rem;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    margin-bottom: 2.2rem;
}

.sub_title {
    font-size: 1.8rem;
    color: var(--color-text-black);
    letter-spacing: -0.022em;
    font-weight: 500;
    line-height: 1.2;
}

.cta .image {
    width: 100%;
}

.cta .btn {
    min-width: 15.5rem;
    height: 5.4rem;
    margin: 3.2rem 0;
    font-size: 1.7rem;
    text-decoration: none;
}

.cta .desc {
    font-size: 1.4rem;
    letter-spacing: -0.022em;
    color: var(--color-text-black);
    line-height: 1.5;
}

sgv {
    background: linear-gradient(45deg, #e59caa 9%, #f7cf83);
    color: currentColor;
}

.content p {
    margin-top: 1.4rem;
    font-size: 1.46rem;
    line-height: 1.5;
    padding-bottom: 5rem;
}
