/* Hero */

.hero {
    background-color: black;
    text-align: center;
    color: var(--color-text-white);
    padding: 4rem 0 6rem 0;
}
.hero .hero-img {
    width: 100%;
    height: 43rem;
    background-image: url(../../assets/img/Hero/hero_black_unity.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    margin: 2rem 0 6rem;
}
.hero h2 {
    margin-top: 1.4rem;
    font-size: 6.8rem;
    line-height: 1.0835733333;
    font-weight: 700;
    letter-spacing: -0.009em;
}

.hero .unity_logo {
    width: 13.4rem;
    height: 3.2rem;
    margin-top: 4rem;
}

.hero p,
.hero h3 {
    font-size: 1.8rem;
    line-height: 1.24;
    font-weight: 500;
    letter-spacing: 0.011em;
    margin-top: 2.4rem;
}

.hero .btn {
    margin: 3rem 0.8rem 0;
    text-decoration: none;
    height: 3.4rem;
    font-size: 1.4rem;
}

.hero .btn-learn-more {
    border: 1.6px solid;
    border-color: #ed2924 #d8b100 #00a750;
    background: #000;
    color: var(--color-text-white);
    padding: 0 1.4rem;
    position: relative;
}

.hero .btn-learn-more::before {
    content: "";
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 2.8px;
    background-color: #000;
    top: 4px;
}
.hero .btn-learn-more::after {
    content: "";
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 2.8px;
    background-color: #000;
    bottom: 4px;
}

.sub-hero {
    display: flex;
    justify-content: center;
    background-color: #292929;
    padding: 3rem 0;
    color: var(--color-text-white);
}
.sub-hero img {
    width: 9.1rem;
}

.sub-hero__content {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-hero h3 {
    font-size: 2rem;
    line-height: 1.1904761905;
    font-weight: 500;
    letter-spacing: 0.011em;
    margin-bottom: 1.2rem;
}
.sub-hero p {
    font-size: 1.3rem;
    line-height: 1.4285914286;
    font-weight: 400;
    color: #86868b;
    letter-spacing: -0.016em;
}

/* hero_apple-ultra */
.hero_apple-ultra,
.hero_apple-SE {
    text-align: center;
    padding: 6rem 0;
    background-color: #f5f5f7;
}
.hero_apple-SE img,
.hero_apple-ultra img,
.hero_apple-series-8 img {
    width: 13.2rem;
}
.hero_apple-SE h2,
.hero_apple-ultra h2,
.hero_apple-series-8 h2 {
    font-size: 4.8rem;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: 0em;
}
.hero_apple-SE p,
.hero_apple-ultra p,
.hero_apple-series-8 p {
    font-size: 2rem;
    line-height: 1.381002381;
    font-weight: 500;
    letter-spacing: 0.0045em;
    margin: 2rem 0;
}
.hero_apple-SE-content .btn,
.hero_apple-ultra .btn,
.hero_apple-series-8 .btn {
    height: 3.6rem;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
}

.hero_apple-ultra-bgi {
    background-image: url(../img/hero_ultra__watch-band.jpg);
    width: 100%;
    height: 587px;
    background-size: 1730px 587px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    margin: 4rem 0;
}

/* watch series 8  */
.hero_apple-series-8 {
    background-color: #000;
    padding: 3rem 0;
    color: var(--color-text-white);
    text-align: center;
}

.hero_apple-series-8-content {
    margin-left: 3rem;
}

.hero_apple-series-8-bgi {
    width: 38.1rem;
    height: 77.7rem;
    background-size: 38.1rem 77.7rem;
    background-image: url(../img/hero_watch_series-8.jpg);
}

/* watch SE */

.hero_apple-SE-content {
    margin: 0 10rem;
}

.hero_apple-SE-bgi {
    width: 564px;
    height: 505px;
    background-size: 564px 505px;
    background-repeat: no-repeat;
    background-image: url(../img/tile-watch-se__hero.jpg);
    margin: 4rem 0;
}

/* billboards */
.billboards {
    padding: 6rem 0;
    margin-top: 4rem;
    text-align: center;
    color: var(--color-text-white);
}
.billboards .grid.wide {
    width: 99.8rem;
}
.billboards .row {
    gap: 1.2rem;
}
.billboards .col.l-6 {
    max-width: 49.4%;
}
.billboards .col.l-5 {
    max-width: 40.4%;
}

.billboards .col {
    border-radius: 2rem;
    background-color: #000;
    min-height: 44rem;
    margin-bottom: 1.2rem;
    padding: 0;
    overflow: hidden;
}

.billboards h2 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    color: var(--color-text-black);
    margin-bottom: 4.8rem;
}

.billboards h4 {
    font-size: 2rem;
    line-height: 1.19048;
    font-weight: 500;
    letter-spacing: 0.011em;
}

.billboards p {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
}

.billboard-item-1 h4 {
    margin-top: 3rem;
}
.billboard-item-2 h4 {
    margin: 4.4rem 0 2.4rem 0;
}
.billboard-item-2 img {
    width: 100%;
    margin-top: 3.4rem;
}

.billboard-item-3 h4 {
    margin: 4.4rem 0 6.8rem 0;
}

.billboard-item-4 h4 {
    margin: 8rem 0;
}
.billboard-item-5 {
    height: 100%;
    text-align: left;
    justify-content: space-between;
    padding: 0 8rem;
}
.billboard-item-5 h3 {
    font-size: 3.2rem;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
    margin-bottom: 1.8rem;
}

.billboard-item-5 a {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    color: var(--color-link);
}
